body {
	background-color: #F0F0F0;
  	font-family: 'Shift', sans-serif;
	text-align: center;
}

h3 {
	text-align: center;
}

#frame {
	margin-left: 12%;
	margin-right: 5%;
	display: block;
}

.instr {
	margin-left: 20%;
	margin-right: 20%;
	display: block;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}