body {
	background-color: #F0F0F0;
	font-family: 'Avenir';
	text-align: center;
}

h3 {
	text-align: center;
}

#frame {
	margin: auto;
	display: block;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}